extends ../components/base/layout

block variables
  - const title = "ProjectName" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = false
  - const headerMods = ""
  - const hasFooter = false
  - const footerMods = ""
  - const currentUrl = "index.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    .slide-grid(data-scroll-section)
      .sticky-loco#slide-grid-sticky
      .slide-grid__list(data-scroll-sticky, data-scroll, data-scroll-target="#slide-grid-sticky")
        .slide-grid__item
          span.slide-grid__item-bg
        .slide-grid__item
          span.slide-grid__item-bg
          span.slide-grid__text.slide-grid__text--right-3.title.title--right.title--h3 Frontend
        .slide-grid__item
          span.slide-grid__item-bg
          span.slide-grid__text.slide-grid__text--right.title.title--right.title--h3 animation
        .slide-grid__item
          span.slide-grid__text
          span.slide-grid__item-bg
        .slide-grid__item
          span.slide-grid__text
          span.slide-grid__item-bg
        .slide-grid__item
          span.slide-grid__text
          span.slide-grid__item-bg
        .slide-grid__item
          span.slide-grid__text
          span.slide-grid__item-bg
        .slide-grid__item
          span.slide-grid__item-bg
          span.slide-grid__text.title.title--h2 vladislav
        .slide-grid__item.slide-grid__item--last
          span.slide-grid__item-bg
          span.slide-grid__text.title.title--h2 stanulevich
        .slide-grid__item
          span.slide-grid__item-bg

    +steps()(style="margin-top: -100vh;")
    +ux-parallax-block()
    .click-section(data-scroll-section)
      .btn(data-cursor-btn="circle")
        .btn__text click



    .scroll-section.scroll-section--horizontal(data-scroll-section="horizontal")
      .scroll-section__wrapper
        .scroll-section__container
          .container
            .section




block modals
