mixin slide-grid()
  .slide-grid(data-scroll-section)
    .sticky-loco#slide-grid-sticky
    .slide-grid__list(data-scroll-sticky, data-scroll, data-scroll-target="#slide-grid-sticky")
      .slide-grid__item
        span.slide-grid__item-bg
      .slide-grid__item
        span.slide-grid__item-bg
        span.slide-grid__text.slide-grid__text--right-3.title.title--right.title--h2 text
      .slide-grid__item
        span.slide-grid__item-bg
        span.slide-grid__text.slide-grid__text--right.title.title--right.title--h2 text
      .slide-grid__item
        span.slide-grid__text
        span.slide-grid__item-bg
      .slide-grid__item
        span.slide-grid__text
        span.slide-grid__item-bg
      .slide-grid__item
        span.slide-grid__text
        span.slide-grid__item-bg
      .slide-grid__item
        span.slide-grid__text
        span.slide-grid__item-bg
      .slide-grid__item
        span.slide-grid__item-bg
        span.slide-grid__text.title.title--h1 text
      .slide-grid__item.slide-grid__item--last
        span.slide-grid__item-bg
        span.slide-grid__text.title.title--h1 text
      .slide-grid__item
        span.slide-grid__item-bg
      //- .slide-grid__video
      //-   video(src="./video-2.mp4", muted, autoplay, loop)
    .slide-grid__title-smooth.title.title--black split it
