mixin steps()
  section.steps(data-scroll-section="lazy-grid")&attributes(attributes)
      .container
        .steps__heading
          .steps__box(data-step-box="rotating")
        .steps__grid
          .steps__box
          .steps__box
          .steps__box.steps__box--hidden(data-step-box="start")
          .steps__box(data-step-box="down")
          .steps__row
            h3.title.title--h3 Determine the goal
          .steps__box(data-step-box="down")
          .steps__box
          .steps__box
          .steps__box.steps__box--hidden
          .steps__row
            h3.title.title--h3.title--right Choose the appropriate<br>testing method
          .steps__box.steps__box--hidden
          .steps__box
          .steps__box
          .steps__box(data-step-box="down")
          .steps__row
            h3.title.title--h3 Formulate tasks for users
          .steps__box(data-step-box="down")
          .steps__box
          .steps__box
          .steps__box.steps__box--hidden
          .steps__row
            h3.title.title--h3.title--right Conduct testing
          .steps__box.steps__box--hidden
          .steps__box
          .steps__box
          .steps__box(data-step-box="down-last")
