.btn {
  position: relative;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  // margin: 10px 0;
  width: size(200px);
  height: size(200px);

  border: 2px solid $color-white-bg;
  // padding: 10px 20px;

  color: $color-white-bg;

  background-color: $color-default-black;
  cursor: pointer;
  border-radius: 50%;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  &__text {
    font-size: size(28px);
    line-height: size(28px);
    text-align: center;
  }
}
