.title {
  margin: 0;

  font-family: 'neuemachina-regular';
  font-size: size(85px);
  line-height: size(85px);
  display: inline;
  text-transform: uppercase;
  text-align: left;
  font-weight: 400;
  color: $color-white-bg;

  @include vp-1439 {
    // font-size: size(75px);
    // line-height: size(75px);
  }

  &--h2 {
    font-size: size(70px);
    line-height: size(70px);

    @include vp-1439 {
      font-size: size(70px);
      line-height: size(70px);
    }
  }

  &--h3 {
    font-size: size(45px);
    line-height: size(45px);
  }

  &--h4 {
    font-size: size(35px);
    line-height: size(35px);
  }



  &--right {
    text-align: end;
  }

  &--white {
    color: $color-default-white;
  }

  &--wheat {
    color: $color-wheat;
  }

  &--black {
    color: $color-default-black;
  }
}
